{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div class="row banner">
        
                
                <div class="col-md-8 offset-2 p-5 text-center">
                    <h1 class="display-4">ABOUT ROYAL EVENTS MANAGEMENT & CATERING</h1>
                    <img src="{% static 'bn.jpg' %}" width="100%">
                    
                    </div>
                    </div>
                    <div class="row banner mt-5">
                        <div class="col-md-6">
                            <p class="display-4">Decoration</p>
                            <h2>Create an Event</h2>
                            <h3 class="display-8">Excellent décor designs can add a touch of style to every occasion
                                Get customised destination wedding facilities and services.
                                Outstanding performances by talented artists will add significance to your wedding.
                                Celebrate your special day at one of the best and most popular venues.</h3>
                            
                        </div>
                        <div class="col-md-6">
                            <img src="{% static 'light.jpg' %}" width="100%">
                        </div>
                    <div class="row mt-5 banner">
                        <div class="col-md-6">
                            <img src="{% static 'evvn.jpg' %}" width="100%">
                        </div>
                    <div class="col-md-6 mt-5">
                        <p class="display-4">What We Do</p></br>
                        
                        <h4 class="display-8">Royal Events Planning and Catering is one of the top event management companies, focuses on event management in Coimbatore in a way that creates a win-win situation for all involved stakeholders. Our goal is to ensure that the clients, as well as participants of the event, have an overall positive experience. To do this, we don’t look at building one-time associations with clients; instead, we aim at creating long-lasting collaborations that will span years to come. Our core purpose is to flourish the WOW customer experience and to bring prosperity to the entire ecosystem connected with her.

                        </h4>
                    </div> 
                </div>
                
                
                  
              <div class="row">
                <div class="col-md-12 p-5 mt-5">
                    
                    <h8 class="display-6 mt-5">How to Plan Your Wedding with Royal Events?</h8>
                   
                </div>
                <div class="row">
                <div class="col-md-3 border-end border-dark">
                    <img src="{% static 'balloon.png' %}" width="40%" height="40">
                <h6 class="display-6 mt-5">Decor & florist</h6>
                </div>
                <div class="col-md-3 border-end border-dark">
                    <img src="{% static 'banquet1.png' %}" width="40%" height="40">
                    <h6 class="display-6 mt-5">Catering</h6>

                </div>
                <div class="col-md-3 border-end border-dark">
                    <img src="{% static 'planner.png' %}" width="40%" height="40">
                    <h6 class="display-6 mt-5">Event planner</h6>

                </div>
                <div class="col-md-3 border-end border-dark">
                    <img src="{% static 'dj.png' %}" width="40%" height="40">
                    <h6 class="display-6 mt-5">DJ</h6>

                </div>
            <div class="row mt-5">
            <div class="col-md-3 border-end border-dark">
                
    
                <img src="{% static 'camera.png' %}" width="40%" height="40">
                <h6 class="display-6 mt-5">Photography</h6>

              </div> 
              <div class="col-md-3 border-end border-dark">
                <img src="{% static 'tv.png' %}" width="40%" height="40">
                <h6 class="display-6 mt-5">Entertainment</h6>

              </div> 
              <div class="col-md-3 border-end border-dark">
                <img src="{% static 'lamp.png' %}" width="40%" height="40">
                <h6 class="display-6 mt-5">Lighting</h6>

              </div> 
              <div class="col-md-3 border-end border-dark">
                <img src="{% static 'ys.png' %}" width="40%" height="40">
                <h6 class="display-6 mt-5">Dance</h6>

              </div> 
              </div>
              <div class="row">
              <div class="col-md-12 p-5 mt-5">
                  <h5 class="display-4">Royal Events Management & Catering Services</h5>
                  <p class="display-6">|| Our Events ||</p>
                  </div>
                  <div class="col-md-6">
                  <img src="{% static 'pack1.jpg' %}" width="100%" height="400">
                  <h6 class="display-4 mt-5 dprice">wedding parties</h6>
              </div>
              <div class="col-md-6">
                  
                  <img src="{% static 'bv.webp' %}" width="100%" height="400">
                  <h6 class="display-4 mt-5 dprice">Birthday celebrations</h6>
              </div>
              <div class="col-md-6">
                  
                  <img src="{% static 'mn.jpg' %}" width="100%" height="400">
                  <h6 class="display-4 mt-5 dprice">Jaggo night party</h6>
              </div>
              
              <div class="col-md-6">
                  
                  <img src="{% static 'll.webp' %}" width="100%" height="400">
                  <h6 class="display-4 mt-5 dprice">Kitty parties</h6>
              </div>
              </div>
              <div class="row p-5 ml-5 mt-5">
                <div class="col-md-4 border-end border-dark">
                    <img src="{% static 'lk.jpg' %}" width="100%">
                    <h6 class="display-6 mt-5 dprice">CATERING EXPERT</h6>
                    <h4 class="display-6">Brooke Atkins</h4>
                </div>
            
            <div class="col-md-4 border-end border-dark">
                <img src="{% static 'wq.jpg' %}" width="100%">
                <h6 class="display-6 mt-5 dprice">EVENT PLANNER</h6>
                <h5 class="display-6">Bertha Laws</h5>
            </div>
            <div class="col-md-4 border-end border-dark">
                <img src="{% static 'eventm.jpg' %}" width="100%" height="260">
                
            
                <h6 class="display-6 mt-5 dprice">Main CEO</h6>
                <h6 class="display-6">Olivia Fisher</h6>
            </div>
                
                
                    
                

        </div>
    
{% endblock %}