{% load static %}
<html>

<head>
    <title>event catering</title>
    
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap-grid.min.css' %}" rel="stylesheet" />
    <link href="{% static 'style.css' %}" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
        
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        
</head>

<body>
    <div class="container-fluid">
        <div class="row text-light" id="topheader">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <h1>BANQUET</h1>
                    </div>
                    <div class="col-md-8">
                        <nav>
                            <ul class="nav">
                                <li><a href="/home/" class="nav-link">HOME</a></li>
                                <li><a href="/aboutus" class="nav-link">ABOUT</a></li>
                                <li class="nav-item dropdown">
                                <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown">  SERVICES  </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#"> EVENTS</a></li>
                                    <li><a class="dropdown-item" href="#"> MENU </a></li>
                                    <li><a class="dropdown-item" href="#"> DECORATION </a></li>
                                    <li><a class="dropdown-item" href="#"> PACKAGES </a></li>
                                </ul>
                                </li>
                                <li><a href="/blogs" class="nav-link">BLOG</a></li>
                                <li><a href="/FAQs" class="nav-link">FAQs</a></li>
                                <li><a href="/contact" class="nav-link">CONTACT</a></li>
                                
                                <li><a href="/booking" class="nav-link">BOOKING</a></li>
                                <li><a href="/Vendor" class="nav-link">VENDOR</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-8 offset-2 p-5 text-center">
                        <p>MAKE IT SPECIAL</p>
                        <h1 class="display-4">A Special & unforgettable day</h1>
                        
                    <li><a href="/aboutus" class="nav-link"><button class="btn btn-light btnreadmore mt-5 mb-5">Read More</button></a></li>
                    </div>
                </div>
            </div>
        </div>
            
      
        <div class="row mt-5" id="ambay">
        <div class="col-md-10 offset-1 p-5 text-center">
            <p class="display-4">Life is made of special
                moments.Turn each into
                magic with Banquet.</p>
            <p>Mark Nalon</p>
        </div>
        </div>

        
        <div class="row banner mt-5">
            <div class="col-md-10 offset-1">
                <div class="row banner mt-5">

                    <div class="col-md-6  p-2">
                <img src="{% static 'mk.jpg'%}" width="100%" />
            </div>
            <div class="col-md-6 mt-5 p-20">
                <h2>Welcome to Royal Caterers</h2>
                
                <p class="mt-5"> A Real Diamond of Catering Industry

                    Looking for a perfect food affair to complement your special occasion?
                    Look no further! Royal Caterers provide a sumptuous food itinerary to fulfill your each and every catering need. Be it a large, mid or small sized event, our full-range of outdoor and indoor catering services cover complete food preparation and presentation for formal and informal gatherings.</p>
                
            </div>
        </div>
        
        <div class="row banner mt-5">
        
                

                    <div class="col-md-6  p-2">
                        <img src="{% static 'm.jpg'%}" width="100%">
                    </div>
                    <div class="col-md-6 p-2">
                        <img src="{% static 'vv.jpg'%}" width="100%" height="335">
                    </div>
                   </div>
    
    <div class="row mt-5 banner">
        <div class="col-md-6 p-5">
            <p></p>
            <h4>Carporates Parties</h4>
            <p>Building your corporate port depends on how successfully you launch an event right from the industry, trending conferences, seminars, exhibitions, award functions, and corporate branding events. Having a good impression is crucial. Bamboo Events Planning and Decor provides a new tenure of life to your marketing strategies. We help you revel in style with perfect tailor-made events that furnish full worth for every single penny spent. We grant our clients a broad range of services with ideal technique, panache, and execution</p>
            
        </div>
        <div class="col-md-6">
            <img src="{% static 'ht.jpeg'%}" height="500" width="100%">
        </div>
    </div>
    <div class="row banner mt-5">
        <div class="col-md-6">
            <img src="{% static 'gb.webp'%}" height="400" width="100%">
        </div>
        <div class="col-md-6 p-5">
            
            <h5 class="display-8">We’ll Make Your Next Event Celebration Very Special!</h5>
            <p class="mt-5"> Royal Events Planning and Decor is an exponentially evolving full-service Event Management and Party Planners in Coimbatore, which will render best-in-class services for planning, building, and implementing parties and events of all natures to prove ourselves as the foremost brand in event planning and execution. Your search for an event organizer ends at Bamboo Events Planning and Decor</p>
            
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12 banner text-center">
            <h3>OUR CLIENTS SAY...</h3>
        </div>
    </div>
    <div id="carouselExampleCaptions" class="carousel slide bg-light" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner text-center  mt-5" id="footer">
          <div class="carousel-item active">
            <h5 class="display-8 mt-5"></h5>
            
              
              <p class="fs-3">Royal Caterers is simply the best! Not just their food was top grade but the entire arrangements were perfect.
                Thanks a lot.</p>
                <h5 class="display-8 mt-5">G.S Oberoi</h5>
          </div>
          
          <div class="carousel-item">
            
              <h5 class="display-8 mt-5"></h5>
              
              <p class="fs-3">
                My guests were more than pleased to be present at my party. All thanks to the Gala Caterers team! This How Cheers!</p>
                <h5 class="display-8 mt-5">MS Chatha</h5>
          </div>
          
          <div class="carousel-item">
           
              <h5 class="display-6 mt-5"></h5>
              
              <p class="fs-3">
                I have experienced quite a many catering service providers and I must say that Galas are the finest in Mumbai!</p>
                <h5 class="display-8 mt-5"> Rekha Goyal</h5>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    
     


            
            <div class="row banner">
                <div class="col-md-12 text-center mt-5 padding-5">
                    <p>READY TO GET IN TOUCH?</p>
                    <h7 class="display-4">MAKE AN EVENT REQUEST</h7>
                </div>
            </div>
            <form action="/inserteventrequest/" method="post">
                {% csrf_token %}
            <div class="row mt-5">
                <div class="col-md-8 offset-2">
                    <div class="row banner">
                <div class="col-md-6 mb-3">
                    
            <input type="text" placeholder="Name" name="fullname" class="p-2 form-control">
            </div>
            <div class="col-md-6 mb-3">
             <input type="text" placeholder="E-mail" name="email" class="p-2 form-control">
            </div>
        
            <div class="col-md-12 mb-3">
                <input type="text" placeholder="Message" name="message" class="p-5 form-control">
                </div>
                
                    <div class="col-md-4 text-center mb-3">
                      <button type="submit" class="btn">GET IN TOUCH</button> 
                      </div></form>
                </div>

                    </div>
                    
            <script>
                $(document).ready(function() {

$('.counters').each(function () {
$(this).prop('Counter',0).animate({
Counter: $(this).text()
}, {
duration: 4000,
easing: 'swing',
step: function (now) {
    $(this).text(Math.ceil(now));
}
});
});

});  

            </script>
            <div class="row mt-5 counter fw-bold p-5 text-center"   >
                <div class="col-md-3 border-end border-dark">
                    
                    <img src="{% static 'customer-review.png' %}" >
                    <p class="display-2 counters">12</p>
                    <p class="display-6">Experience</p>
                    
                </div>
                
                    <div class="col-md-3 border-end border-dark">
                        
                    <img src="{% static 'wedding-day.png' %}" >
                        <p class="display-2 counters">244</p>
                        <p class="display-6">Corporate Event</p>
                    </div>
                    
                        <div class="col-md-3 border-end border-dark">
                            
                    <img src="{% static 'deadline.png' %}">
                            <p class="display-2 counters">187</p>
                            <p class="display-6">Wedding Event</p>
                        </div>
                    
                            <div class="col-md-3">
                                
                    <img src="{% static 'customer-review (1).png' %}">
                                <p class="display-2 counters">1255</p>
                                <p class="display-6 ">Happy Clients</p>
                            </div>
            </div>
            
                    
                                
                                                
                                                
                                            <div class="row  mt-5" id="footer">
                                                <div class="col-md-4">
                                                    <h2 class="display-2 mt-5">BANQUET</h2>
                                                    
                                                    
                                            
                                                    
                                                        
                                                    </div>
                                                    <div class="col-md-2 mt-5">
                                                        <p>FACEBOOK</p>
                                                        <P>TWITTER</P>
                                                        <P>INSTAGRAM</P>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <p class="mt-5">WEDDINGS</p>
                                                        <P>CORPORATE</P>
                                                        <P>EVENTS</P>
                                                        <P>ABOUT US</P>
                                                        <P>CONTACT</P>
                                                    </div>
                                                   <div class="col-md-4 p-5">
                                                    <h3 class="display-6">Receive Updates
                                                        & Special
                                                        Annoucements</h3>
                                                
                                                    
                                                    
           
                                                        
                                                    
                                                      </div>


                                                
                                            

                                        
                                
                         
    </div>

</body>

</html>